*{
    margin:0px;
    padding:0px;
    word-break:break-all;
    word-wrap: break-word;
    text-decoration: none;
}
html{
    overflow-y: scroll;
    height:101%;
}

body{
    background: rgb(255,255,255) url(image/body-bg1024.png) repeat-y top;
    font-family:Verdana, Arial, sans-serif, Arial, Helvetica;
    width:100%;
    margin:0px auto;
    overflow-x: hidden;
}
.top{
    height:30px;
    width:100%;
}
.top_q{
    position: relative;
    width:1025px;
    height:30px;
    background-color: rgb(10,59,149);
    margin:0px auto;
}
.top_w{
    font-family:"微软雅黑";
    padding-top:5px;
    padding-left:6px;
    font-size: 16px;
    float:left;
    color:#666666;
}
.top_w p{
    margin-right:106px;
    float:left;
}
.top_w p a{
    color:#fff;
}
.top_e{
    float:right;
}
.eng{
    float:left;
    width:150px;
    right:10px;
    position:relative;
    margin-top:5px;
    margin-right:35px;
}
.eng p{
    font-family:"微软雅黑";
    font-size: 14px;
    color:#5a5a5a;
}
.eng p a{
    color:#fff;
}
.sousuo{
    position:relative;
    float:left;
    width:100px;
    height:30px;
}
.sousuo form{
    margin-top:2px;
}
.sousuo form strong{
    left:-30px;
    top:7px;
    color:rgb(255,255,255);
    font-size:14px;
    font-weight:normal;
    display: inline;
    position:absolute;
}
.input-mini{
    vertical-align: middle;
    width:94px;
    height:24px;
    padding:6px;
}
.sousuo input[src] {
    top: 2px;
    right: 5px;
    position: absolute;
}
.input-mina{
    vertical-align:middle;
    width:20px;
    height:20px;
    padding:4px 4px 4px 0px;
}
.top_t{
    text-align: center;
    margin-top:0px;
}
.top_t_c{
    background: rgb(255,255,255) url('image/header-bg.jpg') repeat-y left top;
    width:1024px;
    height:110px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
}
#menu_out{
    width:100%;
    height:31px;
    z-index: 1000;
    
}
#menu_in{
    width:1025px;
    height:31px;
    margin:0px auto;
    background-color: #9f1214;
    padding-left:0px;
}
#menu{
    height:auto;
}
#nav{
    width:100%;
    height:auto;
    list-style: none;
}
.mainlevel{
    float:left;
    width:128px;
    height:auto;
    position: relative;
}
.mainlevel a{
    color:#fff;
    font-family: "微软雅黑";
    width:128px;
    height:28px;
    line-height: normal;
    display: block;
    text-align: center;
    padding-top:3px;
}
.mainlevel a:hover{
    color:rgb(97, 97, 248);
    background: rgb(221, 221, 221);
}
#sub_05{
    position:absolute;
    width:128px;
    top:31px;
    border-top:none;
    z-index:999;
    height:auto;
}

#sub_05 li{
    width:128px;
    list-style: none;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
    position:relative;
    padding-top:5px;
    padding-bottom: 5px;
}
#sub_05 li a{
    color: #5a5a5a;
    line-height: normal;
    width:auto;
    height:auto;
    text-align:center;
}
#sub_05 li a:hover{
    color:rgb(97, 97, 248);

}
#slide{
    width:1025px;
    height:356px;
    margin-bottom:20px;
}
#slide ul li{
    float:left;
    width:1025px;
    height:356px;
    overflow: hidden;
    position: relative;
}
